/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 40px 20px;
  }
  
  section h2 {
    margin: 0;
  }
  
  section p {
    margin-bottom: 20px;
  }
  
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .portfolio-item img {
    width: 100%;
    height: auto;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  /* Estilos para Acerca de mí */
  #acerca {
    background-color: #f4f4f4;
    text-align: center;
  }
  
  /* Estilos para el formulario de contacto */
  #contacto form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  #contacto label {
    font-weight: bold;
  }
  
  #contacto input,
  #contacto textarea {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #contacto button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  #contacto button:hover {
    background-color: #555;
  }
  